[Desktop Entry]
Type=Application
Name=WPS Writer
GenericName=WPS Writer
Comment=Use WPS Writer to edit articles and reports.
Exec=/usr/libexec/starlight-fedora/wps-language-wrapper wps %U
TryExec=/usr/bin/wps
Icon=wps-office2023-wpsmain
MimeType=application/wps-office.wps;application/wps-office.wpt;application/wps-office.wpso;application/wps-office.wpss;application/wps-office.doc;application/wps-office.dot;application/vnd.ms-word;application/msword;application/x-msword;application/msword-template;application/wps-office.docx;application/wps-office.dotx;application/rtf;application/vnd.ms-word.document.macroEnabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.document;
Categories=Office;WordProcessor;Qt;
StartupNotify=false
StartupWMClass=wps
InitialPreference=3
